.projet_experience{
    display: flex;
    border-radius: 10px;
    background-color: rgb(255, 255, 255);
    margin: 0 10%;
    border: 2px solid purple;
    padding: 10px;
    height: 100%;

}


.container_experience{

    display: flex;
    flex-wrap: wrap;
    row-gap: 100px;
    justify-content: center;
    justify-content: space-evenly;
    margin-top: 100px;
    overflow-y: hidden;
}