footer{
    margin-top: 70px;
    background-color: white;
    border-top: 5px solid rgb(119, 31, 163);
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
   
}
.container_contact{

    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin-top: 90px;
    margin-left: 15px;
}

footer h1{

    color: black;
    margin-left: 15px;
    margin-top: 25px;
    font-size: 50px;
}

footer h3{

    font-size: 30px;
}

footer span{

    color : rgb(119, 31, 163)
}
footer img{

    height: 100px;
}





footer a:hover{

    color: rgb(119, 31, 163);

}

.CP{
    margin-top: 40px;

}



.reseau div , .reseau2{
    display: flex;
}

.reseau a , .reseau2 {

    text-decoration: none;
    color: black;
  
}

.reseau p{

    margin-top: 30px;
}

.linkd{
    margin-left: 20px;
}
.reseau img{
    margin-top: -10px;
}

#linkdln{

    height: 60px;
    margin: 10px 0 0 20px;
}

@media screen and (max-width:800px) {
    .container_contact{
        display: flex;
        flex-direction: column;
    }

    .contact:nth-child(2){
        margin-top: 50px;
    }
}