/*Header*/
header{

    display: flex;
}


#logo{
    height: 150px;
    z-index: 7;
    transform: translateY(-10%)
}

nav {

    display: flex;
    justify-content: space-between;
    z-index: 5;
    width: 100%;
    margin-top: 20px;
}

ul{
    display: flex;
    justify-content: space-around;
    text-decoration: none;
    width: 100%;
    padding: 15px 0 0 0px;
    transition-duration: 1s;
    font-weight: 500;
    font-size: 20px;
    overflow-y: hidden;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
}


header a{
    
    display: inline-block;
    overflow-y: hidden;
    height: 55px;
    font-size: 20px;
    color: black;
    text-decoration: none; 
    padding: 15px;
    
}


header a::after{

    content: "";
    display: block;
    position: absolute;
    width: 0;
    height: 3px;
    margin: 0 auto;
    background: rgb(119, 31, 163);
    transition: width 0.2s ease-in-out;
}

.presentation:hover::after{
    width: 10.5%;
}



.competences:hover::after{
    width: 12%;
}

.projets:hover::after{
    width: 8%;
}
.contacter{

    background-color: rgb(119, 31, 163);
    border-radius: 8px;
    color: white;
}
.contacter:hover::after{
    width: 9.5%;
}


#hamburger{
    position: absolute;
    visibility: hidden;
    height: 60px;
}


.visible{

    visibility: visible;
}


@media screen and (max-width:800px) {
    #hamburger{
        position: absolute;
        visibility: visible;
        left: 80%;
        top: 5%;
        height: 60px;
    }

    ul{
        display: flex;
        flex-direction: column;
        width: 100%;
        margin-left: 15%;
        visibility: hidden;
    }

    header a {
       margin: 10px;
       height: 60px;
    }

    .contacter{

        width: 200px;
    }

    .contacter li{
        padding-left: 15px;
    }

}