
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap');

/*Première Partie*/
.first_article{
    position: relative;
    display: flex;
    overflow-y: hidden;
    display: flex;
   justify-content: center;

}


#image_moi{
    margin-top: 15%;
    transform: translateX(-10%);
    height: 560px;
   
}


.effet_ecriture {
    margin: 15% 0 0 5%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    font-weight: bold;
    font-size: 30px;
    width: 800px;
    color: rgb(27, 21, 42);
}

.effet_ecriture span{

    color: rgb(119, 31, 163);
}



.visibleX{

    transform: translateX(0);
}

.visibleY{

    transform: translateY(-100px);
    transition-duration: 0.2s;
}

.container_bouton{
    transform: translateX(-5%);
}
.first_article a:nth-child(1){
    display: inline-block;
    margin-top: 100px;
    background-color: rgb(119, 31, 163);
    text-align: center;
    width: 250px;
    padding: 15px;
    text-decoration: none;
    border-radius: 8px;
    font-weight: 0;
    color: white;
    cursor: pointer;
}

.container_bouton a{

    margin-left: 50px;
    text-decoration: none;
    display: inline-block;
    text-align: center;
    margin-top: 100px;
    background-color: transparent;
    width: 380px;
    padding: 15px;
    border: 2px solid rgb(119, 31, 163);;
    border-radius: 8px;
    font-weight: 0;
    font-size: 30px;
    color: rgb(119, 31, 163);
    cursor: pointer;
}

h6{

    margin-top: 30px;
    overflow-y: hidden;
    font-weight: 300;
    font-family:"Poppins"
}

h6 a{

    color: rgb(119, 31, 163);
    transform: translate(-155px, 21px);
}

@media screen and (max-width:800px) {

    #image_moi{
        display: none;
    }

    .first_article{
        display: flex;
        margin-top: -200px;
    }

    .container_bouton a:nth-child(1), .container_bouton a:nth-child(2){
        font-size: 25px;
        width: 80%;
        display: flex;
        justify-content: center;
        transform: translateX(-10%);
    }

    .effet_ecriture{
        font-size: 15px;
    }

  
}