

/*Première Partie*/
.first_article{
    position: relative;
    display: grid;
    grid-template-columns: 50vh 50vh;
    background: linear-gradient(white, rgb(195, 185, 196));
   
}


#image_moi{
    position: relative;
    z-index: 2;
    height: 1000px;
    margin-left:50vh;
    transform: translateY(-15%);
}


.effet_ecriture {
    margin: 60% 0 0 25%;
    display: flex;
    flex-direction: column;
    font-weight: bold;
    font-size: 30px;
    width: 800px;
    color: rgb(27, 21, 42);
}

.effet_ecriture span{

    color: rgb(119, 31, 163);
}



.visibleX{

    transform: translateX(0);
}

.visibleY{

    transform: translateY(-100px);
    transition-duration: 0.2s;
}

.boutton{
    display: inline-block;
    margin-top: 100px;
    background-color: rgb(119, 31, 163);
    width: 220px;
    padding: 15px;
    border-radius: 8px;
    font-weight: 0;
    color: white;
    cursor: pointer;
}

.boutton2{

    margin-left: 50px;
    display: inline-block;
    margin-top: 100px;
    background-color: transparent;
    width: 320px;
    padding: 15px;
    border: 2px solid rgb(119, 31, 163);;
    border-radius: 8px;
    font-weight: 0;
    color: rgb(119, 31, 163);
    cursor: pointer;
}

#sphere{

    position: absolute;
    z-index: 4;
    top: 55%;
    left: 65%;
    height: 250px;

}

h6{

    margin-top: 30px;
    overflow-y: hidden;
}

h6 a{

    color: rgb(119, 31, 163);
    transform: translate(-155px, 21px);
}




@media screen and (max-width: 420px){
    .effet_ecriture{
       width: 250px;
    }

    #sphere{

       display: none;
    }

    .boutton2{

        transform: translateX(-50px);
        width: 250px;
    }

    h6 a{
        transform: translate(50px, -37px);
        background-color: transparent;
    }
}



@media screen and (min-width:430px) and (max-width: 830px){
    #sphere{
        display: none;
    }

    h6 a{
        transform: translate(-25px, 20px);
        background-color: transparent;
    }
 }