

/*Première Partie*/
.first_article{
    position: relative;
    display: grid;
    overflow-y: hidden;
    grid-template-columns: 50vh 50vh;
   
}


#image_moi{
    position: relative;
  
    z-index: 2;
    height: 700px;
    margin-left:50vh;
    transform: translateY(5%);
}


.effet_ecriture {
    margin: 60% 0 0 25%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    font-weight: bold;
    font-size: 30px;
    width: 800px;
    color: rgb(27, 21, 42);
}

.effet_ecriture span{

    color: rgb(119, 31, 163);
}



.visibleX{

    transform: translateX(0);
}

.visibleY{

    transform: translateY(-100px);
    transition-duration: 0.2s;
}

.boutton{
    display: inline-block;
    margin-top: 100px;
    background-color: rgb(119, 31, 163);
    width: 220px;
    padding: 15px;
    border-radius: 8px;
    font-weight: 0;
    color: white;
    cursor: pointer;
}

.container_bouton a{

    margin-left: 50px;
    display: inline-block;
    margin-top: 100px;
    background-color: transparent;
    width: 320px;
    padding: 15px;
    border: 2px solid rgb(119, 31, 163);;
    border-radius: 8px;
    font-weight: 0;
    font-size: 30px;
    color: rgb(119, 31, 163);
    cursor: pointer;
}



h6{

    margin-top: 30px;
    overflow-y: hidden;
}

h6 a{

    color: rgb(119, 31, 163);
    transform: translate(-155px, 21px);
}

/*


@media screen and (max-width: 420px){


    .effet_ecriture{
       display: flex;
       flex-direction: column;
       flex-wrap: wrap;
       width: 100%;
       transform: translate(-25%, -20%);
    }

    .container_bouton a{

        transform: translateX(-50px);
        width: 250px;
    }

    h6 a{
        transform: translate(50px, -37px);
        background-color: transparent;
    }
}



@media screen and (min-width:430px) and (max-width: 830px){

    .effet_ecriture{
        display: flex;
        flex-wrap: wrap;
        width: 420px;
        transform: translateY(-10%);
     }
    h6 a{
        transform: translate(-25px, 20px);
        background-color: transparent;
    }
 }


 */