.four_article{
    position: relative;
    margin-top: 250px;
    overflow-y: hidden;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    padding: 0;
   
}




.four_article #experiences,
#projects {
    font-size: 75px;
}



.projet_scolaire{
    display: flex;
    border-radius: 10px;
    background-color: rgb(255, 255, 255);
    margin: 0 10%;
    border: 2px solid purple;

}


.container_project{

display: flex;
flex-wrap: wrap;
row-gap: 100px;
justify-content: center;
justify-content: space-evenly;
margin-top: 100px;
overflow-y: hidden;



}




.box_project{
    position: relative;
    display: flex;
    overflow-y: hidden;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height:100%;
    margin-left: 7px;
    padding: 0 20px;
    flex-wrap: wrap;

}







.image_projet{
    display: flex;
    justify-content: center;
    align-items: center;
    border-right: 2px solid purple;
    overflow: hidden;
    padding: 35px;
}


/*/********************************/

h5{
    margin-top: 50px;
    font-size: 300%;
    text-align: center;
    overflow-y: hidden;
    margin-left: 10px;

}

span{

    color :rgb(119, 31, 163);
}

h8{
    margin-left: 10px;
}
.box_project p{

    margin: 45px 10px 20px 10px;
    font-size: 120%;
    overflow-y: hidden;
    text-align: justify;
    padding: 8px;

}
.presentation_langages{

    display: flex;
    align-items: center;
    font-size: 110%;
    width: 100%;
    flex-wrap: wrap;
    text-align: center;



   
}
#logo_info{

    height: 60px;
    transform: translateY(-30%);
}
.acces_site {
    display: flex;
    justify-content: center;
    color: black;
    padding: 10px;
    margin-top: 10px;
    border-radius: 5px;
    border: 2px solid purple;

    text-align: center;
    transition: background-color 0.3s ease;
    margin: 3% 20% 3% 20%;
}

.acces_site:hover {
    background-color: rgb(176, 70, 176);
    color: white;
}

#open_logo {
    width: 20px;
    margin-right: 5px;
}

.four_article a {
    display: inline-block;
    text-decoration: none;
    text-align: center;
    color: black;
    overflow: hidden;

}

/***********************BUTTON PROJECTS******************/

.button_projets{
    margin-top: 100px;
    display: flex;
    justify-content: space-evenly;
}


.project_button{
    background-color: white;
    border: 2px solid rgb(119, 31, 163);
    border-radius: 10px;
    padding-left: 100px;
    padding-right: 100px;
    padding-top: 30px;
    padding-bottom: 30px;
    font-size: large;
    font-weight: 800;

    cursor: pointer;
}

.project_button:hover{
    background-color: rgb(150, 72, 189);
    color: rgb(205, 209, 212);
    transition: 0.5s;
}
.project_button:focus{
    background-color: rgb(119, 31, 163);
    color : white;
}


#cadre_langage{
        padding: 1rem 1rem;
        margin-bottom: 1.5rem;
        margin-left: 1.5rem;
        margin-top: 2rem;
        border-radius: 5px;
        border: 1px solid rgb(119, 31, 163);
        font-weight: 600;
        color: rgb(119, 31, 163);
        width: 40%;
        flex-wrap: wrap;

    
}

@media screen and (max-width: 800px) {
    .button_projets{
        margin-top: 100px;
        display: flex;
        flex-direction: column;
        width: 90%;
        margin-left: 5%;
        gap: 15px;
    }

    .four_article  #projects{
        font-size: 70px;

    }
}


#langage2 {
    height: 40px;
    transform: translateY(0%);
}


#role_size{
    font-size: 25px;
}

/****Effet disparition**/

.disparition_projets{
   display: none;
}


@media screen and (max-width:800px) {

   .image_projet {
        border-right: none;
        border-bottom: 2px solid purple;
   }

}

