

.test{
    display: flex;
    justify-content: center;
}
.second_article{
    display: flex;
    justify-content: end;
    overflow-y: hidden;
    margin-top: 200px;
}

.second_article  #titre{
    margin: 80px 0 0 40px;
    font-size: 75px;
}

.grid{
    padding-left: 25px;
}

.second_article .texte  {
    margin: 100px 0 0 40px;
    font-size: 25px;
    width: 70%;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: rgb(27, 21, 42);
    text-align: justify;
    
}

.second_article  span{

    color: rgb(119, 31, 163);
    font-weight: 800;
}

.container_image{
    overflow-y: hidden;
    margin: 100px 0 0 0px;
    animation: animation 6s ease-in-out infinite;
    width: 100%;
}
.container_image .sous_container{
    background-color: white;
    overflow-y: hidden;
    height: 350px;
    width: 350px;
    border-radius: 8px;
}

.container_image .sous_container img{

    height: 300px;
    width: 100%;
    background-size: cover;
    margin-top: 0;
    padding: 0;
}

.container_image .second_container img{

    height: 300px;
    width: 100%;
    background-size: cover;
    margin-top: -40px;
    padding: 0;

}



.container_image .sous_container .image_progra{
    height: 180px;
    padding: 20px;

}

.container_image .first_container .container_texte{
    margin-top: 80px;
}
.container_image .sous_container .container_texte{
    text-align: justify;
    transform: translateY(-55%);
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    padding: 10px;
    font-size: 18px;
}

.container_image .sous_container .container_texte h2{
    text-align: center;
}


.sous2{

    margin: 40px 0 50px 0;
}



.first_container{
    position: relative;
    z-index: 1;
    margin: 50px 0 0 150px;
    width: 100%;
}


@keyframes animation {
    0%{transform: translateX(2%);}
    50%{transform: translateX(-2%);}
    100%{transform: translateX(2%);}
}

@media screen and (max-width:959px) {
    .second_article{
        display: flex;
        flex-direction: column;
    }

    .first_container{
        margin-left: 0px;
    }

    .container_image{
        margin-left: 2%;
        animation: none;
    }

    .second_article  #titre{
        margin: 80px 0 0 40px;
        font-size: 45px;
    }
    
}

@media screen and (min-width:960px) and (max-width:1300px){
    .second_article{
        display: flex;
        flex-direction: column;
    }
    
    .first_container{
        margin-left: -10px;
    }

    .second_container{
        margin-left: -500px;
        margin-top: 10px;
    }
    .container_image{
        display: flex;
       
    }
}