
.second_article{
    display: grid;
    grid-template-columns: 700px 1fr;
    background: linear-gradient(rgb(195, 185, 196), white);
    overflow-y: hidden;
}

.second_article  #titre{
    margin: 80px 0 0 40px;
    font-size: 75px;
}


.second_article .texte  {
    margin: 100px 0 0 40px;
    font-size: 25px;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: rgb(27, 21, 42);
}

.second_article  span{

    color: rgb(119, 31, 163);
    font-weight: 800;
}

.container_image{
    overflow-y: hidden;
    margin: 100px 0 0 40px;
}
.container_image .sous_container{
    background-color: white;
    overflow-y: hidden;
    height: 350px;
    width: 350px;
    border-radius: 8px;
}

.container_image .sous_container img{

    height: 280px;
    width: 100%;
    background-size: cover;
    margin: 0;
    padding: 0;
}

.container_image .sous_container .container_texte{

    text-align: center;
    transform: translateY(-55%);
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
}

.sous2{

    margin: 40px 0 50px 0;
}

.visible0{
    transition-duration: 3s;
    transform: translateX(-300px);
}

.visible1{
    transition-duration: 3s;
    transform: translateX(300px);
}

.first_container{
    position: relative;
    z-index: 15;
    margin: 50px 0 0 400px;
}



@media screen and (max-width: 420px){

    .second_article{
        display: grid;
        grid-template-columns: 1fr;
        display: flex;
        flex-direction: column;
        height: auto;
        visibility: visible;
        overflow-y: hidden;
    }

  

    .first_container{
        display: none;
    }

    .container_image{
        display: flex;
        flex-direction: column;
        transform: translateY(50px);

    }

    .second_container{

        overflow-y: hidden;
    }
   
   
}


@media screen and (min-width:430px) and (max-width: 830px){
    .second_article{
        display: grid;
        grid-template-columns: 1fr;
        display: flex;
        flex-direction: column;
        height: auto;
        visibility: visible;
        overflow-y: hidden;
    }


    .container_image{
        display: flex;
        flex-direction: column;
        transform: translateY(50px);

    }

    .second_container{

        overflow-y: hidden;
        transform: translateY(-360px);
    }
   
}