
.second_article{
    display: grid;
    grid-template-columns: 700px 1fr;
    overflow-y: hidden;
    margin-top: 250px;
}

.second_article  #titre{
    margin: 80px 0 0 40px;
    font-size: 75px;
}


.second_article .texte  {
    margin: 100px 0 0 40px;
    font-size: 25px;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: rgb(27, 21, 42);
}

.second_article  span{

    color: rgb(119, 31, 163);
    font-weight: 800;
}

.container_image{
    overflow-y: hidden;
    margin: 100px 0 0 100px;
    animation: animation 6s ease-in-out infinite;
}
.container_image .sous_container{
    background-color: white;
    overflow-y: hidden;
    height: 350px;
    width: 350px;
    border-radius: 8px;
}

.container_image .sous_container img{

    height: 280px;
    width: 100%;
    background-size: cover;
    margin: 0;
    padding: 0;
}

.container_image .sous_container .container_texte{

    text-align: center;
    transform: translateY(-55%);
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.sous2{

    margin: 40px 0 50px 0;
}



.first_container{
    position: relative;
    z-index: 1;
    margin: 50px 0 0 150px;
    width: 100%;
}


@keyframes animation {
    0%{transform: translateX(2%);}
    50%{transform: translateX(-2%);}
    100%{transform: translateX(2%);}
}

@media screen and (max-width:959px) {
    .second_article{
        display: flex;
        flex-direction: column;
    }

    .first_container{
        margin-left: 0px;
    }

    .container_image{
        margin-left: 10%;
    }
}

@media screen and (min-width:960px) and (max-width:1300px){
    .second_article{
        display: flex;
        flex-direction: column;
    }
    
    .first_container{
        margin-left: -10px;
    }

    .second_container{
        margin-left: -500px;
        margin-top: 10px;
    }
    .container_image{
        display: flex;
       
    }
}