
.third_article{
    position: relative;
    overflow-y: hidden;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.third_article  #titre2{
    margin: 200px 0 0 40px;
    font-size: 75px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}



.third_article  span{

    color: rgb(119, 31, 163);
    font-weight: 800;
}

.third_article h2{

    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    border: 1px solid rgb(119, 31, 163);
    padding: 8px;
    background-color: rgb(119, 31, 163);
    color: white;
}

.container_icons{

    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin: auto;
    background-color: white;
    width: 95%;
    border-radius: 10px;
    line-height: 30px;
    border: 2px solid rgb(169, 21, 243);
    margin-top: 100px;
}



.third_article h3{
    font-size: 25px;
    
    margin-top: 20px;
}


.third_article img{

    height:150px;
    width: 200px;
}

.container_front, .container_inter, .container_conf{

    margin-left: 10px;
    text-align: center;
}

.container_front, .container_inter{
    border-right: 1px solid rgb(169, 21, 243);
}

.third_article p{
    font-size: 18px;
}
.third_article h4{

    font-size: 20px;
}
.container_front img, .container_inter img, .container_conf img{
    margin-top: 20px;
    height: 70px;
    width: 70px;
    border-radius: 20%;
    padding: 5px;
    background-color: rgb(169, 21, 243);
}

.langage_utilises, .logiciels_utilises{

    margin-top: 30px;
}



@media screen and (max-width:800px){
    .container_icons{
        display: flex;
        flex-direction: column;
    }

    .container_inter, .container_conf{
        margin-top: 80px;
        border-top: 1px solid rgb(169, 21, 243);
    }

    .third_article  #titre2{
        font-size: 40px;
        margin-left: 15px;
    }
}
