@import url("CSS/header.css");
@import url("CSS/premiere_partie.css");
@import url("CSS/seconde_partie.css");
@import url("CSS/troisieme_partie.css");
@import url("CSS/quatrieme_partie.css");
@import url("CSS/footer.css");


*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    overflow-x: hidden;
    scroll-behavior: smooth;
}

body{

    background-color : rgb(221, 213, 221)
}
@font-face {
    font-family: "Roboto";
    src: url("RobotoMono-VariableFont_wght.ttf");
}

@font-face {
    font-family: "Raleway";
    src: url("Raleway-VariableFont_wght.ttf");
}

@font-face {
    font-family: "Alegreya";
    src: url("Alegreya-VariableFont_wght.ttf");
}

::-webkit-scrollbar{
    width: 11px;
}
::-webkit-scrollbar-thumb{

    background: linear-gradient(rgb(164, 129, 169), rgb(146, 64, 146))
}

.bouton_scroll{

    height: 150px;
    width: 150px;
    position: fixed;
    z-index: 4;
    right: 20px;
    bottom: -20px;
    cursor: pointer;
}

#scroll{

    height: 80px;
    width: 80px;
}
span{

    color: rgb(119, 31, 163);
    font-weight: 800;
}

@media screen and (max-width: 420px){
    .bouton_scroll{
       display: none;
    }
    
}

@media screen and (max-width: 400px){

    body{

        background-color: white;
    }
}
    
