@import url("CSS/header.css");
@import url("CSS/premiere_partie.css");
@import url("CSS/seconde_partie.css");
@import url("CSS/troisieme_partie.css");
@import url("CSS/quatrieme_partie.css");
@import url("CSS/footer.css");
@import url("CSS/page_scolaire.css");
@import url("CSS/mode.css");


*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    overflow-x: hidden;
    scroll-behavior: smooth;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

body{
    background: linear-gradient(white, rgb(199, 188, 188));
  
}
@font-face {
    font-family: "Roboto";
    src: url("RobotoMono-VariableFont_wght.ttf");
}

@font-face {
    font-family: "Raleway";
    src: url("Raleway-VariableFont_wght.ttf");
}

@font-face {
    font-family: "Alegreya";
    src: url("Alegreya-VariableFont_wght.ttf");
}

::-webkit-scrollbar{
    width: 11px;
}
::-webkit-scrollbar-thumb{

    background: linear-gradient(rgb(164, 129, 169), rgb(146, 64, 146))
}
